.first{
    background-color: aqua;
    color: blueviolet;
    height: 300px;
    width: fit-content;
    margin-bottom: 10px;
    text-align: justify;

}
.second{
    background-color: chartreuse;
    color: black;
    text-align: justify;
}